<% content_for :title, "Editing note" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-['Montserrat'] font-bold text-4xl text-black">Editing note</h1>

  <%= render "form", note: @note %>

  <div class="mt-4 flex flex-wrap gap-3">
    <%= link_to "Show this note", @note, class: "rounded-full px-5 py-3 bg-gray-100 hover:bg-gray-200 border-2 border-black inline-block font-['Montserrat'] font-semibold" %>
    <%= link_to "Back to notes", notes_path, class: "rounded-full px-5 py-3 bg-gray-100 hover:bg-gray-200 border-2 border-black inline-block font-['Montserrat'] font-semibold" %>
  </div>
</div>
