<% content_for :title, "New note" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-['Montserrat'] font-bold text-4xl text-black">New note</h1>

  <%= render "form", note: @note %>

  <%= link_to "Back to notes", notes_path, class: "w-full sm:w-auto text-center mt-4 rounded-full px-5 py-3 bg-gray-100 hover:bg-gray-200 border-2 border-black inline-block font-['Montserrat'] font-semibold" %>
</div>
