<div id="<%= dom_id participant %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= participant.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Competition:</strong>
    <%= participant.competition_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= participant.user_id %>
  </div>
</div>
