<div id="<%= dom_id participant %>" class="w-full sm:w-auto my-5 rounded-2xl border-4 border-black bg-white p-6 shadow-lg space-y-4">
  <div>
    <strong class="block font-['Montserrat'] font-semibold text-black mb-1">Name:</strong>
    <p class="text-gray-700"><%= participant.name %></p>
  </div>
  <div>
    <strong class="block font-['Montserrat'] font-semibold text-black mb-1">Competition:</strong>
    <p class="text-gray-700"><%= participant.competition_id %></p>
  </div>
  <div>
    <strong class="block font-['Montserrat'] font-semibold text-black mb-1">User:</strong>
    <p class="text-gray-700"><%= participant.user_id %></p>
  </div>
</div>
